.aboutus-section {
  background: linear-gradient(to bottom, #000, #0a0a0a);
  text-align: center;
  padding: 120px 10%;
  font-family: Audiowide, sans-serif;
}
.section-title {
  font-family: "Audiowide", sans-serif;
}
.aboutus-text {
  color: #bbb;
  font-family: Audiowide, sans-serif;
  font-size: 1.2rem;

  line-height: 1.8;
  max-width: 800px;
  margin: 20px auto 40px;
}

.highlight {
  color: #f5c542;
  font-weight: 700;
}
